
@font-face {
    font-family: 'bold';
    src: url('../fonts/bold.otf') format("truetype");
}

@font-face {
    font-family: 'medium';
    src: url('../fonts/medium.otf') format("truetype");
}

@font-face {
    font-family: 'light';
    src: url('../fonts/light.otf') format("truetype");
}

body{
    margin:auto;
    background: url("../img/penguin.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
    font-family: medium;
}

#blur-bg{
    background: rgba(0, 0, 0, 0.76);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
a,a:link,a:active,a:visited,a:focus{
    outline: none;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

#left-menu{
    width: 150px;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(17, 17, 17,0.8);
    z-index: 1;
}
.menu-item{
    width: 100%;
    text-align: center;
    padding: 15px;
}

.menu-item a:hover{
    color: #4a95ff;
    -webkit-transition:all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    transition:all 0.3s ease-in-out 0s;
}


#right-menu{
    width: 50px;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.right-menu-item{
    padding: 5px 10px;
}

#my-container{
    width: 700px;
    margin: auto;
    min-height: 400px;
    margin-top: 40px;
    color: #2d2d2d;
    padding-top: 0;
}
#my-container h1{
    color: #FFF;
    padding: 15px;
    padding-left: 0;
    padding-bottom: 5px;
    line-height: 36px;
    font-family: bold;
    border-bottom: 3px solid #FFF;
}

#my-container h2{
    font-family: light;
    color: #FFF;
    font-size: 18px;
    text-align: right;
    line-height: 0;
    padding-top: 5px;
    margin: 0;
}

#content-text{
    color: #FFF;
    font-family: medium;
    font-size: 16px;
    text-align: justify;
    padding-top: 30px;
}